body 
{
  margin: 0;
 }

.topnav {
  background-color: #333;
  overflow: hidden;
}

#heading
{
	padding-left:10px;
	color:white;
}

.mainBody
{
	background-color: lightgrey;
  	width: 500px;
  	text-align:center;
  	border: 1px solid black;
  	padding: 50px;
  	margin-left:30%;
  	margin-top:7%;
}

.buttons
{
	width:10px;
}
